<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DownloadUrl" value="https://premium.rpnet.biz/usercp.php?action=downloader" />
    <add key="SpamUrl" value="http://e7c12787.linkbucks.com/url/" />
    <add key="DeleteUrl" value="https://premium.rpnet.biz/usercp.php?action=deletedownload&amp;id=all&amp;confirm_delete=1&amp;type=normal" />
    <add key="XMLBaseUrl" value="E:\Google Drive\WinApp\HDManager\data" />
    <add key="PosterBaseUrl" value="E:\Google Drive\WinApp\HDManager\posters" />
    <add key="Path.Download" value="E:\Perso\_movies\_download" />
    <add key="Name.Transfer" value="_transfer" />
    <add key="Path.Winrar" value="E:\Portable Softwares\WinRAR\WinRAR.exe" />
    <add key="Browser" value="chrome.exe" />
    <add key="ChromeDriver" value="E:\Google Drive\WinApp\HDManager\ChromeDriver" />
    <!--<add key="ChromeUserData" value="C:\Users\abuchoo\AppData\Local\Google\Chrome\User Data\Default"/>-->
    <add key="ChromeUserData" value="C:\Documents and Settings\abuchoo\Local Settings\Application Data\Google\Chrome\User Data\Default" />
    <add key="ImdbDomain" value="www.imdb.com" />
    <add key="ImdbContent" value="http://www.imdb.com/title/{0}/" />
    <add key="GoogleFeelingLucky" value="http://www.google.mu/search?q={0}&amp;btnI" />
    <add key="Path.uGet" value="E:\Portable Softwares\uGet\bin\uget.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>